pkgbase = clash-for-windows-bin
	pkgdesc = A Windows/macOS/Linux GUI based on Clash and Electron.
	pkgver = 0.20.6
	pkgrel = 1
	url = https://github.com/Fndroid/clash_for_windows_pkg
	arch = x86_64
	makedepends = asar
	makedepends = npm
	depends = electron19
	optdepends = nftables: Required for TUN mode.
	optdepends = iproute2: Required for TUN mode.
	options = !strip
	source = https://github.com/Fndroid/clash_for_windows_pkg/releases/download/0.20.6/Clash.for.Windows-0.20.6-x64-linux.tar.gz
	source = clash-for-windows.desktop
	source = cfw
	sha256sums = 9d82d955f42044bd1db4e9bd1b2b69372d8d5ab65c5e84ae67aa121b1fd1ee94
	sha256sums = 7fff6aad3b8bf9ec9202739cd64c2d6b39de886911eb70c20499e4c8f4573a0f
	sha256sums = fc0818c884052d0fdc83233fb5c26741aa4daa42d848979936a6e5a8217c676b

pkgname = clash-for-windows-bin
