[Desktop Entry]
Type=Application
Name=Clash for Windows
Comment=Clash GUI based on Electron
Exec=/usr/bin/cfw %U
Icon=clash.png
Terminal=false
Keywords=clash
Categories=Network;Utility;
